#### 반복문

In [3]:
for i in ['item1','item2','item3','item4']:
    print("출력",i)

출력 item1
출력 item2
출력 item3
출력 item4

In [5]:
for i in range(5):
    print("출력",i+1)

출력 1
출력 2
출력 3
출력 4
출력 5

In [6]:
# 한글로 1부터 5을 숫자를 출력하세요 
# 출력: 일
# 출력: 이
# 출력: 삼
# 출력: 사
# 출력: 오
arr1=['일','이','삼','사','오']
for i in range(5) :
    print("출력:", arr1[i])

출력: 일
출력: 이
출력: 삼
출력: 사
출력: 오

In [8]:
for i in arr1 :
    print("출력:", i)

출력: 일
출력: 이
출력: 삼
출력: 사
출력: 오

In [10]:
for i in '일이삼사오' :    
    print("출력:", i)

출력: 일
출력: 이
출력: 삼
출력: 사
출력: 오

In [15]:
변수명='초기값'
print(변수명)
for 변수명 in range(5) :
    print(변수명)


print('outter',변수명)

0
1
2
3
4
outter 4

In [18]:
for i in range(0,10,2) :    # 반복의 횟수 : 5, 출력:5
    print(i,end=" ")

0 2 4 6 8

In [20]:
for i in range(0,10) :      # 반복의 횟수 : 10, 출력:5
    if i%2==0: print(i, end=" ")

0 2 4 6 8

In [25]:
a=['list1','list2','list3','list4']
b=('item1','item2','item3','item4')
c=range(4)
d="abcd"
list(reversed(d))  # 시퀀스객체 - 순서o

['d', 'c', 'b', 'a']

In [42]:
w=True
su=0                    # 1.초기화
while w:
    print('반복',su)    # 2.실행문
    su+=1               # 3.증감
    if su>=3: w=False   # 4.조건검사

반복 0
반복 1
반복 2

In [54]:
for i in ['item1','item2','item3','item4']:
    print(i)

item1
item2
item3
item4

In [63]:
import random
random.random() # 0<=ran<1

0.5119332005626159

In [228]:
# 1~45 로또 번호 6개.
# 1~3
limit=45+1
boo=True
while boo:
    su=int(random.random()*100) # 0~ 99
    if (0<su<limit) : boo=False
print(su)

15

In [311]:
# 0.0~0.99999
# 0<=ran<1.0
# 0+1<=ran*45+1<1.0*45+1

#용지
lotto=[0,0,0,0,0,0]
cnt=0
boo=True
while boo:
    # 숫자 받고
    su=int(random.random()*45)+1
    pas=True
    for j in lotto:
        if j==su :
            pas=False
    # 기입
    if pas:
        lotto[cnt]=su
        cnt+=1
    if(cnt==6): boo=False
print(lotto)

[25, 3, 19, 42, 30, 39]

In [312]:
lotto=[]
while 6!=len(lotto):
    # 숫자 받고
    su=random.randint(1,45)
    pas=True
    for j in lotto:
        if j==su :
            pas=False
            break
    # 기입
    if pas:
        lotto.append(su)
print(lotto)

[40, 37, 9, 45, 30, 13]

In [279]:
print("전")
for i in [1,3,5,7,9]:
    if i==5 : continue
    print('i=',i)
print("후")

전
i= 1
i= 3
i= 7
i= 9
후

In [ ]:
# *
# **
# ***
# ****
# *****

# *****
# ****
# ***
# **
# *

#     *
#    **
#   ***
#  ****
# *****

In [ ]:
#
# 구구단 출력
# 2x1=2    3x1=3   4x1=4 ...
# 2x2=4    3x2=    4x2=
# 2x3=0    3x3=    4x3=
# ...
# 2x9=0    3x9=    4x1=

In [293]:
for i in range(1,10):
    for j in range(2,10):
        print(j,'x',i,'=',i*j,end='\t')
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [304]:
a=2
b=1
while True:
    if a==10:
        if b==9: break
        b+=1 
        print()
        a=2
    print(a,'x',b,'=',a*b,end='\t')
    a+=1

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [308]:
for i in range(5):
    for j in range(10):
        print('*',end=" ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [310]:
arr=[]
arr.append(2)
arr.append(4)
arr.append(6)
print(arr)

[2, 4, 6]

In [318]:
arr=[1,2,4,5]

# arr.insert(len(arr),'추가')
arr.insert(0,'앞으로')
arr.insert(0,'더앞으로')
arr

['더앞으로', '앞으로', 1, 2, 4, 5]

In [330]:
arr1=[1,3,5]
arr2=[2,4]
arr1.extend(arr2)
arr1

[1, 3, 5, 2, 4]

In [329]:
arr1=[1,3,5]
arr2=[2,4]
# arr1+arr2
arr1+=arr2
arr1

[1, 3, 5, 2, 4]

In [338]:
arr=[10,11,12,13,14,15]

a=arr.pop(1)        #()마지막 (idx)인덱스에 해당하는 값을 지움
print(arr,a)

[10, 12, 13, 14, 15] 11

In [335]:
arr=[10,11,12,13,14,15]

a=arr.remove(13)   # 일치하는 값을 찾아 지움
print(arr,a)

[10, 11, 12, 14, 15] None

In [347]:
arr=[10,11,12,13,12,12]

target=12
while arr.count(target):
    arr.remove(target)
arr

[10, 11, 13]

In [351]:
arr=[10,11,12,13,12,12]
arr.index(12,arr.index(12)+1)

4

In [360]:
arr=[1, 3, 5, 2, 4]
# arr.sort()
# print(list(reversed(arr)))
# print(arr)
arr.sort(reverse=True)
print(arr)
arr.clear()
print(arr)

[5, 4, 3, 2, 1]
[]

In [ ]:
# 선형자료구조
# quere
# stack

<img src="https://velog.velcdn.com/images%2Fsoor%2Fpost%2Fddffc81f-95e8-4762-bc04-48d567e5bf95%2F%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-04-24%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%209.13.29.png">

In [362]:
que=[]
que.insert(0,'item1')
que.insert(0,'item2')
que.insert(0,'item3')
que.insert(0,'item4')
que.insert(0,'item5')
while len(que):
    print(que.pop())

item1
item2
item3
item4
item5

In [363]:
stk=[]
stk.append('item1')
stk.append('item2')
stk.append('item3')
stk.append('item4')
stk.append('item5')
while len(stk):
    print(stk.pop())

item5
item4
item3
item2
item1

In [370]:
arr=[]
arr[0:]=[11]
arr[1:]=[12]
arr[2:]=[13]
arr[len(arr):]=[14]
arr[len(arr):]=[15]
arr

[11, 12, 13, 14, 15]

In [375]:
arr1=[1,3,5,7,9]
# arr2=arr1 # 얕은복사

arr2=arr1.copy() # 깊은복사 

arr2[2]=6

print(arr1, id(arr1))
print(arr2, id(arr2))

[1, 3, 5, 7, 9] 1421874513728
[1, 3, 6, 7, 9] 1421873871872

In [382]:
arr3=[1,2,3]
arr4=[10,12,arr3] # 주소담고
# arr5=[10,12,arr3.copy()]
arr5=arr4.copy()
arr5[2]=arr4[2].copy()

arr4[2][1]=4

print(arr4)
print(arr5)

[10, 12, [1, 4, 3]]
[10, 12, [1, 2, 3]]

In [385]:
arr1=[1,3,5,7,9]

for i,j in enumerate(arr1):
    print(i,j)

0 1
1 3
2 5
3 7
4 9

In [388]:
arr1=[1,3,5,7,9]
print(min(arr1))
print(max(arr1))
print(sum(arr1))

1
9
25

In [395]:
arr1=[2,4,6,8]
arr2=list(range(2,10,2))
arr3=list(i*2 for i in range(5) if i!=0)

print(arr1)
print(arr2)
print(arr3)

[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8]

In [399]:
arr4=[i+j for i in ['A','B','C'] 
            for j in ['a','b','c'] ]
arr4

['Aa', 'Ab', 'Ac', 'Ba', 'Bb', 'Bc', 'Ca', 'Cb', 'Cc']

In [402]:
for i in ['A','B','C'] :
    for j in ['a','b','c'] :
        print(i+j,end=',')

Aa,Ab,Ac,Ba,Bb,Bc,Ca,Cb,Cc,

In [405]:
arr5=(i+j for i in ['A','B','C'] for j in ['a','b','c'] )
tuple(arr5)

('Aa', 'Ab', 'Ac', 'Ba', 'Bb', 'Bc', 'Ca', 'Cb', 'Cc')

In [412]:
arr1=[[1,2]
      ,[3,4]
      ,[5,6]]

arr1[2][1]=8
# arr2=arr1[2]
# arr2[1]=8

for i in arr1:
    for j in i:
        print(j, end=' ')
    print()

1 2
3 4
5 8

In [415]:
arr2=['item1','item2']
a,b=arr2
print(a,b)

ValueError: too many values to unpack (expected 2)

In [413]:
for i,j in arr1:
    print(i,j)

1 2
3 4
5 8

In [416]:
cnt=0
while cnt<len(arr1):
    a,b=arr1[cnt]
    print(a,b)
    cnt+=1

1 2
3 4
5 8

In [421]:
arr1=[[j for j in range(2)]*i for i in range(5)]
arr1

[[], [0, 1], [0, 1, 0, 1], [0, 1, 0, 1, 0, 1], [0, 1, 0, 1, 0, 1, 0, 1]]

In [428]:
import copy as clone # import 모듈명 as 별칭

In [429]:
arr1=[[1,2],[3,4],[5,6]]
arr2=clone.deepcopy(arr1)

arr2[1][0]=33

print(arr1,id(arr1[1]))
print(arr2,id(arr2[1]))

[[1, 2], [3, 4], [5, 6]] 1421865602432
[[1, 2], [33, 4], [5, 6]] 1421873099584

In [430]:
arr1=[[1,2],[3,4],[5,6]]
arr2=[]
for i in arr1:
    arr2.append(i.copy())

arr2[1][0]=33

print(arr1,id(arr1[1]))
print(arr2,id(arr2[1]))

[[1, 2], [3, 4], [5, 6]] 1421865606912
[[1, 2], [33, 4], [5, 6]] 1421871427200

### 문자열

In [435]:
msg="hello"+"world"
msg=msg.replace("world","python")
print(msg)

hellopython

In [446]:
data="aaa	bbbb	cccc"
arr1=data.split('\t')
arr1[0]=arr1[0].upper()
arr1[0]=arr1[0].lower()
arr1[0]=arr1[0].title()
','.join(arr1)

'Aaa,bbbb,cccc'

In [451]:
data='       ab       cd        '
print(">>"+data.lstrip()+"<<<")
print(">>"+data.rstrip()+"<<<")
print(">>"+data.strip()+"<<<")

>>ab       cd        <<<
>>       ab       cd<<<
>>ab       cd<<<

In [454]:
data='#####,####ab cd,,,,'
print(">>"+data.lstrip("#,")+"<<<")
print(">>"+data.rstrip("#,")+"<<<")
print(">>"+data.strip("#,")+"<<<")

>>ab cd,,,,<<<
>>#####,####ab cd<<<
>>ab cd<<<

In [459]:
data="abc"

print(">>"+data.ljust(10)+"<<<")
print(">>"+data.rjust(10)+"<<<")
print(">>"+data.center(10)+"<<<")

>>abc       <<<
>>       abc<<<
>>abc<<<

In [465]:
"   aBcD   "\
        .split()[0]\
            .lower()\
            .title()

'Abcd'

In [473]:
"100".zfill(10)

'10000000000'

In [478]:
# "abcdefg".index("z")
"abcdefg".find("z")

-1

In [480]:
"afcdefg".rfind("f")

5