In [12]:
name='user1'
age=29
pi=3.14

In [3]:
"이름은 "+name+",나이는 "+str(age)+"세 입니다"

'이름은 user1,나이는 29세 입니다'

- %s 문자열
- %d int
- %f float

In [18]:
"이름은 %s, 나이는 %d세 입니다. pi=%.3f" % (name,age,pi)

'이름은 user1, 나이는 29세 입니다. pi=3.140'

In [21]:
print(">>%10s<<" % name)
print(">>%-10s<<" % name)

>>     user1<<
>>user1     <<

In [22]:
"이름은 {}, 나이는 {}세 입니다. pi={}".format(name,age,pi)

'이름은 user1, 나이는 29세 입니다. pi=3.14'

In [26]:
"이름은 {}, 나이는 {}세 입니다. pi={}".format(name,age,pi)

'이름은 29, 나이는 3.14세 입니다. pi=3.14'

In [27]:
"이름은 {var1}, 나이는 {var2}세 입니다. pi={var3}"\
    .format(var3=pi,var1=name,var2=age)

'이름은 user1, 나이는 29세 입니다. pi=3.14'

In [28]:
# version 3.6이상~
f"이름은 {name}, 나이는 {age}세 입니다. pi={pi}"

'이름은 user1, 나이는 29세 입니다. pi=3.14'

In [59]:
"{0:<10}".format("문자열")

'문자열       '

In [60]:
"{0: >10d}".format(123456)

'    123456'

In [48]:
"{0:010f}".format(123456)

'123456.000000'

In [46]:
"{0:010.4f}".format(123.456)

'00123.4560'

In [53]:
"{0:10.0f}".format(123.456)

'       123'

In [84]:
d1={}
d2=dict()
print(type(d1),type(d2))

<class 'dict'> <class 'dict'>

In [106]:
d1['key1']='val1'
d1['key2']='val2'
print(d1)

{'key1': 'val1', 'key2': 'val2'}

In [66]:
d1['key1']='value1'
print(d1)

{'key1': 'value1', 'key2': 'val2'}

In [107]:
d1.setdefault("key3",'val3')
print(d1)

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [108]:
d1.setdefault("key4",'value4')
print(d1)

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3', 'key4': 'value4'}

In [75]:
d2.update(key2='value2')
print(d2)

{'key1': 'val1', 'key2': 'value2'}

In [86]:
list1=['key1','key2']
list2=['val1','val2']
list(zip(list1,list2))

[('key1', 'val1'), ('key2', 'val2')]

In [95]:
d2.update(list(zip(list1,list2)))
print(d2)

{'key1': 'val1', 'key2': 'val2'}

In [92]:
d2.pop('key1',None)

In [96]:
d2

{'key1': 'val1', 'key2': 'val2'}

In [93]:
del d2['key2']

In [98]:
d2.popitem()

('key2', 'val2')

In [99]:
d2['key1']

'val1'

In [103]:
d2.get('key1',0)

'val1'

In [105]:
d2

{'key1': 'val1'}

In [109]:
d1

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3', 'key4': 'value4'}

In [110]:
d1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [111]:
d1.values()

dict_values(['val1', 'val2', 'val3', 'value4'])

In [112]:
d1.items()

dict_items([('key1', 'val1'), ('key2', 'val2'), ('key3', 'val3'), ('key4', 'value4')])

In [114]:
arr=['key1','key2','key3','key4']
dict.fromkeys(arr,0)

{'key1': 0, 'key2': 0, 'key3': 0, 'key4': 0}

In [121]:
arr1=['key1','key2','key3']
{i:0 for i, j in dict.fromkeys(arr1).items() if i!='key2'}

{'key1': 0, 'key3': 0}

In [127]:
d3={'outter1':{'inner1':'val1'},'outter2':{'inner2':'val2'}}

In [123]:
d3

{'outter1': {'inner1': 'val1'}, 'outter2': {'inner2': 'val2'}}

In [128]:
import copy as clone
# d4=d3.copy()
d4=clone.deepcopy(d3)
d3['outter1']['inner1']='value1'

print(d3)
print(d4)

{'outter1': {'inner1': 'value1'}, 'outter2': {'inner2': 'val2'}}
{'outter1': {'inner1': 'val1'}, 'outter2': {'inner2': 'val2'}}

#### Set
- 집합
- 순서x, 중복불가

In [129]:
a={}
type(a)

dict

In [130]:
b={'item1'}

type(b)

set

In [137]:
c={'item1','item2','item3','item2','item1'}
d={'item2','item4'}

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXcsfwqA5uKoOyLSez382Tf0lTkRN5Ov_4Qg&s">

In [139]:
c | d # 합집합 or

{'item1', 'item2', 'item3', 'item4'}

In [140]:
set.union(c,d)

{'item1', 'item2', 'item3', 'item4'}

In [142]:
c & d # 교집합

{'item2'}

In [143]:
set.intersection(c,d)

{'item2'}

In [146]:
#차집합
c-d

{'item1', 'item3'}

In [145]:
set.difference(c,d)

{'item1', 'item3'}

In [147]:
#xor
c^d

{'item1', 'item3', 'item4'}

In [148]:
set.symmetric_difference(c,d)

{'item1', 'item3', 'item4'}

In [154]:
d.add('item5')
d

{'item2', 'item5'}

In [151]:
d.pop()

'item5'

In [152]:
d.remove('item4')

In [153]:
d

{'item2'}

In [172]:
import random

lotto=set()
while len(lotto)!=6:
    su=random.randint(1,45)
    lotto.add(su)
memo=list(lotto)
memo.sort()
print(memo)

[14, 28, 37, 38, 39, 44]